body {
    font-size: 12px;
    font-family: Arial,"SimSun";
    color: #555;
}
a {
    color: #333;
}
a:hover {
    color: #242424;
}
.navbar-yao .navbar-inner {
    background-color: #555;
    border-color:#555;
    background-image: -webkit-linear-gradient(top,#555,#444);
    background-image: -o-linear-gradient(top,#555,#444);
}
.nav-top-logo {
    margin-top: 7px;
}
.navbar .nav>li>a {
    font-size: 13px;
}
.navbar-inverse .nav>li>a.logo_link {
    color: #C2C5BA;
    font-size: 21px;
    font-weight: 900;
    margin: 0 0;
    padding: 7px 0 0 3px;
    display: block;
}
.navbar-inverse .nav>li>a.logo_link:hover {
    color: #C2C5BA;
}
.logo a:hover {
    text-decoration: none;
}
.nav ul li.mall a.navicon {
    background-position: -596px -16px;
}
.nav ul li.jiukuaiyou a.navicon {
    background-position: -472px -16px;
}
.nav ul li.exchange a.navicon {
    background-position: -100px -16px;
}

.nav ul li.mall a.navicon:hover {
    background-position: -596px -120px;
}
.nav ul li.jiukuaiyou a.navicon:hover {
    background-position: -472px -120px;
}
.nav ul li.exchange a.navicon:hover {
    background-position: -100px -120px;
}

.hotactivity_yao {
    position: relative;
    width: 682px;
    margin: 15px auto 25px;
    padding: 14px 0 7px;
    box-shadow: #F2F2F2 2px 3px 3px;
}
.hotactivity_yao ul li {
    float: left;
    width: 30%;
    height: 25px;
    padding-left: 18px;
    background: url(../images/blackDot.png) no-repeat 8px 11px;
    line-height: 25px;
    font-size: 12px;
    font-family: Arial, 'SimSun ';
    overflow: hidden;
}
.hotactivity_yao ul li.hotTitle {
    position: absolute;
    left: 10px;
    top: -13px;
    width: 184px;
    height: 25px;
    padding-left: 0;
    background: none;
    line-height: 25px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    background-color: #555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: 'Microsoft YaHei', 'SimSun';
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.nav-top {
    height: 40px;
}
.nav-top-logo {
    display: block;
    float: left;
}
.nav-top li ul {
    float: left;
    width: 100px;
    height: 100px;
    padding: 16px 0 0 18px;
}
.nav-top li ul li a{
    display: block;
    width: 92px;
    height: 36px;
    padding-left: 12px;
    color: #333;
    font-family: 'Microsoft YaHei', 'SimSun';
    font-size: 13px;
}
.price {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
}
.sub_menu {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.extends {
    padding-top:20px;
}
.leftNotice {
    padding: 0 12px;
    margin: 0 auto 10px;
}
.leftNotice h3 {
    line-height: 26px;
    font-size: 16px;
}
.leftNotice h3 span {
    color: #fff;
}
.showitemTime {
    position: relative;
    top: -44px;
    right:0;
}
.showtext_head {
    font-size: 12px;
}
ul.category {
    margin:0;
    height: 20px;
}
ul.category li a {
    padding: 0 2px;
}
.showtext_body p.showtext_info, .showtext_body {
    min-height: 186px;
    height: 186px;
    overflow: hidden;
    line-height: 24px;
}

.show_hidden {
    overflow: 'hidden';
    height: '200px'
}
.show_all {
    overflow: 'visible';
    height: auto;
}
.showcont_r {
    margin-top: -13px;
}
.short_content .long_content {
    font-size: 12px;
}
div.J_fixed > dl > dd {
    margin-left: 0;
    margin-right: -5px;
}

.jky_buy_img {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    width: 220px;
    overflow: hidden;
}
.jky_item .buy_mask {
    margin-left: 3px;
}
.begin_time {
    margin-left: 6px;
}

.shijiu_list a.thumbnail:hover, a.thumbnail:focus {
    border-color: #08c;
    -webkit-box-shadow: 0 0px 22px rgba(0,105,214,0.25);
    -moz-box-shadow: 0 0px 22px rgba(0,105,214,0.25);
    box-shadow: 0 0px 22px rgba(0,105,214,0.25);
}
ul.shijiu_list {
    margin: 0 0 10px 10px;
}
.jky_item:hover{
    box-shadow: 0px 0px 13px rgba(90, 90, 90, 1);
    border: 1px solid #818181;
}
.jky_item h3 {
    line-height: 18px;
    height: 35px;
    margin: 0 0 2px;
    font-size: 12px;
}
.jky_cate .level_2 .nav {
    height: 47px;
    margin-bottom: 0;
}
.jky_cate .level_2{
    height: 45px;    
    line-height: 45px;
    background: white;
    border: 1px solid #EAEAEA;
    padding: 0px 15px;
    font-size: 14px;
    position: absolute;
    top: 43px;  
    width: 730px;  
}
.jky_cate .level_2 a{
    line-height: 24px;
    text-align: center;
    width: 44px;      
    float: left;
}
.jky_cate .level_2 a.hover{
    font-weight: bold;  
    text-shadow: 0 0 0 transparent, 1px 1px 1px #2B2B2B;    
}
.pointsgood-head ul{
    margin: 0;
}